Schemas/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Test/Schemas/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Test/Schemas/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Emp">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="surname" type="xs:string"/>
				<xs:element name="id" type="xs:string"/>
				<xs:element name="company" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>